* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas1 {
  width: 100vw;
  height: 100vh;
}

#content {
  padding: 2rem 2rem;
  position: absolute;
  width: 75%;
  min-height: 75%;
  top: 5rem;
  left: 50%;
  transform: translate(-50%);
  color: coral;
  text-align: justify;
  background: rgba(75, 0, 85, 0.7);
}
