* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas1 {
  width: 100vw;
  height: 100vh;
}

#content {
  padding: 1.5rem 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: burlywood;
  text-align: justify;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}

#textInput {
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
}

#textInput:focus {
  outline: none;
  box-shadow: 0 0 10px burlywood;
}
