@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 55, 0.75);
  font-family: "Redressed", cursive;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: burlywood;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 10px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

p {
  font-family: "Redressed", cursive;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

section {
  grid-column: 3 / 11;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  text-align: justify;
  line-height: 1.5;
}

.sect-opt {
  grid-column: 5 / 9;
  font-size: 1;
  line-height: 1;
  margin-top: 8rem;
}

div {
  display: inline-block;
}

input {
  margin-bottom: 15px;
}

@media screen and (max-width: 50rem) {
  .sect-opt {
    grid-column: 3 / 11;
  }
}
