* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  --bg-img: url("./clouds.jpg");
  --border-color: #323296;
  --txt-color: black;
  --bg-color: rgba(200, 200, 200, 0.8);

  background: var(--bg-img);
  background-size: cover;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  padding-top: 3.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: calc(5px + 2vmin);
  color: black;
  overflow-y: scroll;
}

.App.dark {
  --bg-img: url("./space.jpg");
  --border-color: #e20303d0;
  --txt-color: #f0f0f0;
  --bg-color: rgba(20, 0, 0, 0.6);
}

.search-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background: beige;
  opacity: 0.5;
  transition: all 0.5s linear;
}

.search-bar:hover {
  opacity: 1;
}

#search {
  float: left;
  background: bisque;
  margin: 10px;
  height: 2em;
}

.opt {
  float: left;
  margin: 5px 5px;
}

#optOr,
#optAnd,
label {
  margin-right: 5px;
}

.menubtn {
  margin: 5px 5px;
  padding: 5px 5px;
  background: bisque;
  border: 2px solid salmon;
  border-radius: 5px;
  cursor: pointer;
}

#theme-toggle {
  float: right;
  margin-right: 25px;
}

.menubtn:hover {
  background: peachpuff;
}

.yoda {
  position: absolute;
  top: 55vh;
  left: 45vw;
  transform: translate(-45%, -55%);
  width: 356px;
  height: 540px;
  border: 2px solid thistle;
  border-radius: 8rem;
  background: url("./yoda.gif");
  background-size: contain;
  background-position: center;
  animation: qAnim 1s linear;
  opacity: 0.8;
}

.quote {
  width: 100%;
  min-height: 1.5em;
  margin-top: 5px;
  padding: 0.5em;
  background: var(--bg-color);
  background-size: auto;
  background-position: top;
  color: var(--txt-color);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  animation: qAnim 0.7s linear;
  transition: all 0.5s ease;
}

.quote:hover {
  background: rgba(255, 228, 196, 0.7);
}

@keyframes qAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
