* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: url("./clouds.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  padding-top: 3.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: calc(5px + 2vmin);
  color: black;
  overflow-y: scroll;
}

.search-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background: beige;
  opacity: 0.5;
  transition: all 0.5s linear;
}

.search-bar:hover {
  opacity: 1;
}

#search {
  float: left;
  background: bisque;
  margin: 10px;
  height: 2em;
}

.opt {
  float: left;
  margin: 15px 5px;
}

#optOr,
#optAnd,
label {
  margin-right: 5px;
}

.yoda {
  position: absolute;
  top: 55vh;
  left: 45vw;
  transform: translate(-45%, -55%);
  width: 356px;
  height: 540px;
  border: 2px solid thistle;
  border-radius: 8rem;
  background: url("./yoda.gif");
  background-size: contain;
  background-position: center;
  animation: qAnim 0.7s linear;
}

.quote {
  width: 100%;
  min-height: 1.5em;
  margin-top: 10px;
  padding: 0.5em;
  background: rgba(247, 230, 230, 0.7);
  background-size: auto;
  background-position: top;
  color: black;
  animation: qAnim 0.7s linear;
}

.quote:hover {
  background: rgba(255, 228, 196, 0.7);
}

@keyframes qAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
