@import url("https://use.typekit.net/jmk3xov.css");

:root {
  --dark-bg: rgba(15, 15, 55, 0.75);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: burlywood;
  z-index: 99;
  position: absolute;
  margin: 0px 0px;
  padding: 55px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

canvas {
  position: fixed;
  top: 0px;
  left: 0px;
}

section {
  grid-column: 3 / 11;
  padding: 1.5rem;
  background-color: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.25;
}

.hidden {
  display: none;
}

p {
  text-align: justify;
}

pre {
  text-align: center;
}
